
.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: red;
  font-size: 45px;
}

.custom-right-align {
  text-align: right;
  margin-right: 80px;
}

.custom-left-align {
  margin-left: 80px;
}